{% extends 'base.html' %}

{% block title %}
{{ book.title }}
{% endblock %}

{% block button %}
    <div class="buttons" align="right">
        {% if flag_btn %}
        <a class="btn btn-outline-primary" href="/account">Личный кабинет</a>
        <a class="btn btn-outline-primary" href="/busket">Корзина</a>
        {% if current_user.id == 5 %}
        <a class="btn btn-outline-primary" href="/admin">Admin</a>
        {% endif %}

        {% else %}
        <a class="btn btn-outline-primary" href="/signin">Регистрация</a>
        <a class="btn btn-outline-primary" href="/login">Вход</a>
        {% endif %}
    </div>
{% endblock %}

<div class="container_book">
{% block body %}
    <div class="main-content">
    <div class="book-img">
        <img src="{{ book.image_L }}" alt="{{ book.title }}" class="book">
    </div>
    <div class="left">
        <h1 class="h1_new">
            {{ book.title }}
        </h1>
        <h3 class="h3_new">
            {{ book.author }}
        </h3>
        <ul>
			<li>Издатель: {{ book.publisher }}</li>
            {% if book.year != 0 %}
			    <li>Год: {{ book.year }}</li>
            {% endif %}
                <li>Количество: {{ book.quantity }}</li>
        </ul>
    <!--</div>
        <div class="right">-->
            <h3 class="h3_new">
                {{ book.price }} ₽
            </h3>
            {% if book.quantity == 0 %}
                <h4> Нет в наличии! </h4>
            {% else %}
                {% if flag_btn %}
                    <a href="/shelves/{{book.id_book}}/add" class="btn btn-danger-1">В корзину</a>
                {% else %}
                    <a  href="/login" class="btn btn-danger-1">В корзину</a>
                {% endif %}
            {% endif %}
        <!--</div>-->
    </div>
</div>
</div>


<div class="Row">
    <div class="col-container">
        {% for b in recommended_books %}
                    <div class="Column" onclick='window.location.replace("/shelves/{{ b.id_book }}")';>
                        <img src="{{ b.image_L }}" alt="{{ b.title }}" class="Cover">
                        <h4 class="book-name">
                            {{ b.title }}
                        </h4>
                        <p class="author">
                        {{ b.author }}
                        </p>
                        <p class="h52"> 
                            {{ b.price }}₽
                        </p>
                        <a href="/shelves/{{ b.id_book }}" class="btn btn-danger">Детали</a>
                        {% if b.quantity == 0 %}
                        <h4> Нет в наличии! </h4>
                        {% else %}
                            {% if flag_btn %}
                            <a href="/shelves/{{b.id_book}}/add" class="btn btn-danger" onclick="event.stopPropagation()">Купить</a>
                            {% else %}
                            <a  href="/login" class="btn btn-danger">Купить</a>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        
{% if form %}
<div class="post_rating_container">
    <h2 class="headerlk" align="center"> Оставьте рецензию! </h2>
    <br>
    
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="review">
            Поставьте свою оценку
            {{ form.rating() }}
        </div>
        <div class="review_comment">
            {{ form.comment.label() }}
            {{ form.comment() }}
        </div>
    
        <p class="submit_btn_placement">
            {{ form.submit() }}
        </p>
    
        </form>
    
        <p><a href="{{ url_for('account') }}"class="previous round">&#8249;</a></p>
        <br>
    
    </div>
{% endif %}


{% endblock %}

