{% extends 'base.html' %}

{% block title %}
Рекомендации
{% endblock %}

{% block button %}
    <div class="buttons" align="right">
        {% if flag_btn %}
        <a class="btn btn-outline-primary" href="/account">Личный кабинет</a>
        <a class="btn btn-outline-primary" href="/busket">Корзина</a>
        {% if current_user.id == 5 %}
        <a class="btn btn-outline-primary" href="/admin">Admin</a>
        {% endif %}

        {% else %}
        <a class="btn btn-outline-primary" href="/signin">Регистрация</a>
        <a class="btn btn-outline-primary" href="/login">Вход</a>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
<div class="recs">
    <h2 align="center"> Рекомендации </h2>
    <br>
    
    {% if fav_books %}
    <h6 align="center"> Рекомендация книг по вашему вкусу! </h6>
    <div class="Row">
        <h6 align="center"> Книги, которые вам нравятся! </h6>
        <br>

        <div class="col-container">
        {% for b in fav_books %}
            <div class="Column" onclick='window.location.replace("/shelves/{{ b.id_book }}")';>
                <img src="{{ b.image_L }}" alt="{{ b.title }}" class="Cover">
                
                <h4 class="book-name">
                    {{ b.title }}
                </h4>
                <p class="author">
                  {{ b.author }}
                </p>
                <p class="h52"> 
                  {{ b.price }} ₽
                </p>
                <a href="/shelves/{{ b.id_book }}" class="btn btn-danger">Детали</a>
                {% if b.quantity == 0 %}
                <h4> Нет в наличии! </h4>
                {% else %}
                    {% if flag_btn %}
                    <a class="btn btn-danger" href="/shelves/{{b.id_book}}/add" onclick="event.stopPropagation()">Купить</a>
                    {% else %}
                    <a class="btn btn-danger" href="/login">Купить</a>
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}

            <h6 align="center"> Книги, которые тоже могут понравиться! </h6>
            <br>

            {% for b in recommended_books %}
            <div class="Column" onclick='window.location.replace("/shelves/{{ b.id_book }}")';>
                <img src="{{ b.image_L }}" alt="{{ b.title }}" class="Cover">
                
                <h4 class="book-name">
                    {{ b.title }}
                </h4>
                <p class="author">
                  {{ b.author }}
                </p>
                <p class="h52"> 
                  {{ b.price }} ₽
                </p>
                <a href="/shelves/{{ b.id_book }}" class="btn btn-danger">Детали</a>
                {% if b.quantity == 0 %}
                <h4> Нет в наличии! </h4>
                {% else %}
                    {% if flag_btn %}
                    <a class="btn btn-danger" href="/shelves/{{b.id_book}}/add" onclick="event.stopPropagation()">Купить</a>
                    {% else %}
                    <a class="btn btn-danger" href="/login">Купить</a>
                    {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <h6 align="center"> Поставьте рецензии книг и сможете насладиться рекомендациям по вашему вкусу! </h6>

    {% endif %}
</div>


    
    {% endblock %}
